<div class="container">
  <h2>Lista de Usuários</h2>
  <button class="btn btn-primary btn-sm me-2" (click)="adicionarUsuario()">
    Adicionar
  </button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.cpf }}</td>
        <td>
          <button
            class="btn btn-primary btn-sm me-2"
            (click)="editarUsuario(usuario.id)"
          >
            Editar
          </button>
          <button
            class="btn btn-danger btn-sm"
            (click)="excluirUsuario(usuario.id)"
          >
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
